<div class="container">

    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputModel" class="col-sm-2 control-label">Model</label>
            <div class="col-sm-10">
                <input type="text" ng-model="phone.phone.model" class="form-control" id="inputModel" placeholder="Write model here ...">
            </div>
        </div>
        <div class="form-group">
            <label for="inputBrand" class="col-sm-2 control-label">Brand</label>
            <div class="col-sm-10">
                <input type="text"  ng-model="phone.phone.brand" class="form-control" id="inputBrand" placeholder="Write brand here ...">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" ng-click="phone.add()"> Add phone </button>
                <button class="btn btn-primary" ng-click="phone.cancel()"> Cancel </button>
            </div>
        </div>
    </form>

</div>
