<div class="container">

    <div class="container-fluid">
        <row>
            <div class="text-right">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="numberOfPhone">Количество телефонов на странице</label>
                        <select id="numberOfPhone" ng-model="phonesList.phonesOnListWithAct" class="ng-not-empty form-control">
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </form>
            </div>
        </row>
    </div>

    <br>

    <div class="container-fluid">
         <row>
           <div ng-repeat="phone in phonesList.phones" class="col-sm-6 col-md-4">
               <div class="thumbnail">
                   <div class="text-center" >
                       <img ng-src="{{phonesList.getImgUrl(phone.id)}}" alt="Phone img" height="200">
                   </div>
                   <div class="caption phone-caption">
                       <strong>{{phone.model}} </strong><br>
                       Brand : {{phone.brand}} <br>
                       Screen size : {{phone.screenSize}} <br>
                       Screen resolution : {{phone.screenResolution}} <br>
                       Camera resolution : {{phone.cameraResolution}} <br>
                       <div class="price"> {{phone.price}} rub.</div>
                   </div>
               </div>
           </div>
         </row>
    </div>

    <div class="container text-center">
        <row>
            <ul class="pagination">
              <li ng-repeat="nav in phonesList.navigation" ng-class="nav.class"><a ng-href="{{nav.link}}"> {{nav.caption}} </a></li>
            </ul>
        </row>
    </div>
</div>
