USE [master]
GO
/****** Object:  Database [phoneshop]    Script Date: 6/27/2016 4:55:16 PM ******/
CREATE DATABASE [phoneshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'phoneshop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\phoneshop.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'phoneshop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\phoneshop_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [phoneshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [phoneshop]
GO
/****** Object:  Table [dbo].[directory_navigations]    Script Date: 6/27/2016 4:55:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[directory_navigations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_navigation] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_directory_navigations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[phone_navigation]    Script Date: 6/27/2016 4:55:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phone_navigation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[phone_id] [int] NOT NULL,
	[navigation_id] [int] NOT NULL,
 CONSTRAINT [PK_phone_navigation] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[phone_wireless]    Script Date: 6/27/2016 4:55:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phone_wireless](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[phone_id] [int] NOT NULL,
	[wireless_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[phones]    Script Date: 6/27/2016 4:55:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[model] [nvarchar](250) NOT NULL,
	[brand] [nvarchar](150) NOT NULL,
	[os] [nvarchar](max) NULL,
	[screen_resolution] [nvarchar](50) NULL,
	[price] [money] NULL,
	[screen_size] [numeric](18, 0) NULL,
	[camera_resolution] [nvarchar](150) NULL,
	[cpu] [nvarchar](150) NULL,
	[core_number] [smallint] NULL,
	[memory_in] [int] NULL,
	[ram] [int] NULL,
	[weight] [numeric](18, 0) NULL,
	[heigth] [numeric](18, 0) NULL,
	[width] [numeric](18, 0) NULL,
	[depth] [numeric](18, 0) NULL,
	[sim_type] [nvarchar](50) NULL,
	[sim_number] [int] NULL,
 CONSTRAINT [PK_phones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[wireless_technology]    Script Date: 6/27/2016 4:55:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wireless_technology](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[technology] [nvarchar](50) NULL,
 CONSTRAINT [PK_wireless_technology] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[phone_navigation]  WITH CHECK ADD  CONSTRAINT [FK_phone_navigation_directory_navigations] FOREIGN KEY([navigation_id])
REFERENCES [dbo].[directory_navigations] ([id])
GO
ALTER TABLE [dbo].[phone_navigation] CHECK CONSTRAINT [FK_phone_navigation_directory_navigations]
GO
ALTER TABLE [dbo].[phone_navigation]  WITH CHECK ADD  CONSTRAINT [FK_phone_navigation_phones] FOREIGN KEY([phone_id])
REFERENCES [dbo].[phones] ([id])
GO
ALTER TABLE [dbo].[phone_navigation] CHECK CONSTRAINT [FK_phone_navigation_phones]
GO
ALTER TABLE [dbo].[phone_wireless]  WITH CHECK ADD  CONSTRAINT [FK_phone_wireless_phones] FOREIGN KEY([phone_id])
REFERENCES [dbo].[phones] ([id])
GO
ALTER TABLE [dbo].[phone_wireless] CHECK CONSTRAINT [FK_phone_wireless_phones]
GO
ALTER TABLE [dbo].[phone_wireless]  WITH CHECK ADD  CONSTRAINT [FK_phone_wireless_wireless_technology] FOREIGN KEY([wireless_id])
REFERENCES [dbo].[wireless_technology] ([id])
GO
ALTER TABLE [dbo].[phone_wireless] CHECK CONSTRAINT [FK_phone_wireless_wireless_technology]
GO
USE [master]
GO
